{% load static %}

<!DOCTYPE html>
{% load static %}
<html lang="ko">
  <head>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sign Up to Bium</title>
  </head>
  <body>
    <div class="Container">
      <div class="Bar">
        <img
          id="BackBtn"
          src="{% static 'images/icon-back-24.png' %}"
          width="24px"
          height="24px"
        />
        <div class="Title">회원가입</div>
      </div>
      <form method="post" id="SignupForm">
        {% csrf_token %}
        <div class="Input">
          <input
            required
            name="name"
            class="InputBox {% if error %} Input-ErrorBox {% endif %}"
            type="text"
            placeholder="이름"
          />
          <input
            required
            name="birth_date"
            class="InputBox {% if error %} Input-ErrorBox {% endif %}"
            type="text"
            placeholder="생년월일 (0000-00-00)"
          />
          <input
            required
            name="phone_number"
            class="InputBox {% if error %} Input-ErrorBox {% endif %}"
            type="text"
            placeholder="휴대전화 번호 (000-0000-0000)"
          />
        </div>
        <div class="Input">
          <input
            minlength="4"
            required
            name="username"
            id="username"
            class="InputBox {% if error %} Input-ErrorBox {% endif %}"
            type="text"
            placeholder="아이디 (4자 이상)"
          />
          <input
            minlength="6"
            pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,}$"
            required
            name="password"
            id="password"
            class="InputBox {% if error %} Input-ErrorBox {% endif %}"
            type="password"
            autocomplete="new-password"
            placeholder="비밀번호 (6자 이상 영어 소문자, 숫자 포함)"
          />
          {% if error %}
          <span class="error-msg">{{ error }}</span>
          {% endif %}
        </div>
        <button type="submit" id="SignUp" class="SignUpBtn">가입하기</button>
      </form>
    </div>
    <script src="{% static 'js/signup.js' %}"></script>
  </body>
</html>
