{% load static %}

<!DOCTYPE html>
{% load static %}
<html lang="ko">
  <head>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sign Up to Bium</title>
  </head>
  <body>
    <div class="Container">
      <div class="Bar">
        <img
          id="BackBtn"
          src="{% static 'images/icon-back-24.png' %}"
          width="24px"
          height="24px"
        />
        <div class="Title">회원가입</div>
      </div>
      <form method="post" id="SignupForm">
        {% csrf_token %}
        <div class="Input">
          <input
            required
            name="name"
            class="InputBox {% if error %} Input-ErrorBox {% endif %}"
            type="text"
            placeholder="이름"
          />
          <input
            required
            name="birth_date"
            class="InputBox {% if error %} Input-ErrorBox {% endif %}"
            type="text"
            placeholder="생년월일"
          />
          <input
            required
            name="phone_number"
            class="InputBox {% if error %} Input-ErrorBox {% endif %}"
            type="text"
            placeholder="휴대전화 번호"
          />
        </div>
        <div class="Input">
          <input
            minlength="4"
            required
            name="username"
            class="InputBox {% if error %} Input-ErrorBox {% endif %}"
            type="text"
            placeholder="아이디"
          />
          {% if error %}
          <span class="id-error-msg">{{ message}}</span>
          {% endif %}
          <input
            minlength="6"
            pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,}$"
            required
            name="password"
            class="InputBox {% if error %} Input-ErrorBox {% endif %}"
            type="password"
            placeholder="비밀번호"
          />
          {% if error %}
          <span class="passwd-error-msg">{{ message}}</span>
          {% endif %}
        </div>
        <button id="SignUp" class="SignUpBtn">가입하기</button>
      </form>
    </div>
    <script src="{% static 'js/signup.js' %}"></script>
  </body>
</html>
