<!DOCTYPE html>
<html lang="ko">
  <head>
    <link rel="stylesheet" href="../static/css/EndingNotes/step05.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>step 08</title>
  </head>
  <body>
    <div class="Container">
      <div class="Bar">
        <progress id="progress" value="80" min="0" max="100"></progress>
        <img
          id="CancelBtn"
          src="../static/images/icon-close-24.svg"
          width="24px"
          height="24px"
        />
      </div>
      <div class="StepTitle">08. 향후 해보고 싶은 것들</div>
      <div class="Scroll">
        <div class="InputBox">
          <div class="title">해보고 싶은 목록</div>
          <div class="detail">
            어릴 적 꿈, 여행, 독서, 봉사, 가족과 시간 보내기 등 버킷리스트를
            적어주세요.
          </div>
          <input class="content" type="text" placeholder="해보고 싶은 목록" />
        </div>
      </div>
      <div style="display: flex; flex-direction: row; gap: 12px">
        <div class="BeforeBtn" id="BeforeBtn">이전</div>
        <div class="NextBtn" id="NextBtn">다음</div>
      </div>
    </div>
    <script src="../static/js/EndingNotes/step08.js"></script>
  </body>
</html>
